
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}


.favorite-dialogue {
  margin-top: 0.5rem; 
}

.favorite-dialogue h2 {
  font-family: 'Cursive', sans-serif; 
  font-size: 2rem; 
  color: white; 
}

.favorite-dialogue p {
  font-size: 1.5rem; 
  color: #ccc; 
}
